---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

import {formatBlogPosts} from "../../js/utils.js";
const allPosts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);

export async function getStaticPaths({paginate}) {
  return paginate(formattedPosts, {
    pageSize: 6,
  })
}

const {page} = Astro.props;
// console.log(page);
---

<MainLayout title="Categories Page">
  <aside class="container" aria-label="Blog categories">
    <h2 class="h3">Categories of All Posts</h2>
    <CategoryCloud showCount={true}/>
  </aside>
  <section class="container" aria-label="All Categories Page">
    <h1 class="h1">All Categories Page {page && page.currentPage}</h1>
    <div class="post-container">
      {
        page ? page.data.map((post) => 
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ) : (
          formattedPosts.map((post) => 
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />        
        ))
      }
    </div>
    {page && <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />}
  </section>
</MainLayout>